{
    "main": "bin/hab.php",
    "directories": ["src"],
    "files": ["./current.version"],
    "finder": [
        {
            "name": "*.php",
            "exclude": ["test", "tests"],
            "in": "vendor"
         }
    ]
}
